<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete <%= fruit.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Are You Sure You Want To Delete</h1>
    <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= fruit.name %></button>
    </form>

    <a href="/fruits/<%= fruit._id %>">Cancel and Go Back</a>
</body>
</html>